@tailwind base;
@tailwind components;
@tailwind utilities;

/* GOGGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;800&family=Concert+One&family=Single+Day&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  /* font-family: sans-serif; */
} 
body {
  background: white;
}

.guidesection {
  position: relative;
  overflow-x: hidden;
}
/* NAVBAR MENU FOR MOBILE SCREEN */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;
  height: 100vh;
  width: 0;
  max-width: 20rem;
  background: #616161aa;
  backdrop-filter: blur(8px);
  font-size: 3rem;
  font-weight: 700;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.navbar Link {
  background-color: aqua;
  display: none;
  visibility: hidden;
}

/* FAQ Section */
details {
  width: 100%;
  padding: 4px;
  background-color: transparent;
  transition: ease 1s;
  cursor: pointer;  
}
details summary::marker {
  visibility: none;
}
details summary{
  margin-bottom: 1px;
  padding: 20px;
  font-size: 20px;
  background-color: #aeaeae;
  text-align: start;
  transition: ease 1s;
  list-style: none;
}
details p {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #aeaeae;
  text-align: start;
  transition: ease 0.5s;
}